

$PRIMARY_COLOR: #F28177; // #F299C2; // #0ed1e8; // #F2B84B; // 242, 184, 75
$SECONDARY_COLOR: #F2AF5C; // #3F83BF; // #266269; // #FB6542; // 251, 101, 66
$TERTIARY_COLOR: #F2C166; // #41D9D9; // 65, 217, 217
$TERTIARY_ALT_COLOR: #F2A25C; // #41D9D9; // 65, 217, 217

$BLACK_COLOR: #1E1E1E; // 30, 30, 30
$BLACK_ALT_COLOR: #262626; // 38, 38, 38
$WHITE_COLOR: #FFFFFF; // 255, 255, 255

$SUCCESS_COLOR: #11872e; // 17, 135, 46
$ERROR_COLOR: #F23535; // 242, 53, 53

$SUCCESS_GRADIENT: "";
$ERROR_GRADIENT: "";


$CARDS_BACKGROUND: rgba(242, 184, 75, .6);
$ERROR_COLOR_OPACITY: rgba(242, 53, 53, .6);



.primary_gradient {
    background-image: linear-gradient( 30deg, $PRIMARY_COLOR, $SECONDARY_COLOR );
}

.tertiary_gradient {
    background-image: linear-gradient( 30deg, $PRIMARY_COLOR, $BLACK_COLOR );
}

.secondary_gradient {
    background-image: linear-gradient( 30deg, $SECONDARY_COLOR, $PRIMARY_COLOR );
}