@import "../../styles/commons";

.about_section {
    min-height: 60vh;
    // background-color: $PRIMARY_COLOR;
    // background-color: #2a2929;
    // color: whitesmoke;

    color: $BLACK_COLOR;

    border-radius: $BORDER_RADIUS;

    padding: 0 1rem 6rem 1rem;
}

.about_section__description {
    text-align: center;
    max-width: 800px;
    font-size: 1.2rem;
}
